*{
    padding: 0;
    margin: 0;
}

.container{
    text-align: center;
    width: 500;
    height: 350px;
    font-family: 'Charmonman', cursive;
    text-align: center;
    margin: 15% auto 0;
    color: blue;
}
.container .w{
    font-size: 100px;
}
.container .v{
    font-size: 30px;
}

@media screen and (max-width:400px){
    .container{
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width:300px){
    .container{
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width:200px){
    .container{
        text-align: center;
        width: 100%;
    }
}

.container_2{
    margin: 0 auto;
    width: 80%;
}
.button_2{
    float: right;
}
.button_2{
    opacity: .7;
}
.button_1,.button_2{
    width: 150px;
    height: 50px;
    font-family: 'Aref Ruqaa', serif;
    font-weight:700 ;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px #777;
}