*{
    padding: 0;
    margin: 0;
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}
.btn{
    position: fixed;
    top: 15px;
    left: 3%;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: left .4s ease;
    background: #000000 ;
}
.btn.click{
    left: 52%;
}
.btn span{
    color: white;
    font-size:28px ;
    line-height: 45px;
}
.btn.click span:before{
    content: '\f00d';
}
.sidebar{
    position: fixed;
    background-color: #1b1b1b1b;
    height: 100%;
    width: 50%;
    left: -50%;
    transition: left .4s ease;
}
.sidebar.show{
    left: 0px;
}
.sidebar .text{
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 5px #f5eeee,
                0 0 30px #f5eeee,
                0 0 50px #f5eeee;
    font-size: 200%;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
}
nav ul{
    list-style: none;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
}
nav ul li{
    line-height: 60px;
    border-bottom:1px solid rgba(255,255,255,.1);
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,.5);
}
nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b1b;
    border-left-color: transparent;
}
nav ul li a{
    position: relative;
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li a:hover{
    border-left-color:cyan;
    color :cyan;
    background: #1e1e1e1e;
}
nav ul ul li a:hover{
    background: #0c0741!important;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .feat-show.show{
    display: block;
}
nav ul .serv-show.show1{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a::before{
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 10px;
    margin-left: 10px;
}
nav ul ul li a{
    font-size: 15px;
    color: #e6e6e6;
}
nav ul li a span{
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}
nav ul li:active a{
    color: cyan;
    background: #1e1e1e1e;
    border-left-color: cyan;
}


@media screen and (max-width:400px){
    nav ul li a{
        font-size: 15px;
    }
    nav ul ul li a{
        font-size: 10px;
    }
    .sidebar .text{
        font-size: 20px;
    }
}
@media screen and (max-width:350px){
    nav ul li a{
        font-size: 12px;
    }
    nav ul ul li a{
        font-size: 8px;
    }
    .sidebar .text{
        font-size: 20px;
    }
}
@media screen and (max-width:250px){
    nav ul li a{
        font-size: 8px;
    }
    nav ul ul li a{
        font-size: 5px;
    }
    .sidebar .text{
        font-size: 20px;
    }
}